.banner-img{
    background-image: url("https://i.ibb.co.com/J3PBNJJ/Shapes.png");
    background-repeat: no-repeat;
    z-index: 2;
}
.banner-39{
    background-image: url("https://i.ibb.co.com/0C1MLBX/Group-4260.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}


  